h1 {
  text-align: center;
  color: #3e444c
}

p {
  text-align: center;
  font-size: 25px;
  color: black;
  width: 60%;
}

li{
  float: centre;
  font-family: arial;
}

.subjects{
  margin-top: 20px
  padding: 10px;

}
